@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    overflow-x: hidden;
}
.info-bar{
    width: 100%;
    heigth: 12px;
    background-color: #636363;
    position: relative;
}
.info-bar p{
    width: 100%;
    color: white;
    position: absolute ;
    font-size: 150%;
    transform: translateX(-50%);
}
.title{
    animation: slowpass 10s infinite 5s;
}
.date{
    animation: slowpass 10s infinite ;
}
.icon{
    color: white;
}
.custominfo{
    text-shadow: 0px 5px 7px rgb(0, 0, 0);
}

@keyframes slowpass {
    0% {
        transform: translateX(0%);
        opacity: 0
    }
    10%{
        opacity:1
    }
    80%{
        opacity: 1;
    }
    100% {
        transform: translateX(130%);
        opacity: 0;
    }
}